<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>{% block title %}{% end %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap-blue.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
    <style>
        @media (max-width: 480px){
            .hero-unit{  margin:4px; padding:4px;  }
            .container-fluid{ margin:4px!important; padding:0px!important; }
            footer{ display:none;}
        }
    </style>
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    {% block head %}{% end %}
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">
     <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
         <div class="container">
           <a class="brand" href="/">Furnivall</a>
           <div class="nav-collapse">
                <ul class="nav">
                  <li><a data-toggle="modal" href="#about">About</a></li>
                  <li><a href="mailto:ibercivis@ibercivis.es">Contact</a></li>
                  <li><a href="/user/{{user_name}}"> {{user_name}} </a> </li>
                  <li> {% if user_name != "anonymous" %} <a href="/Login/logout"> Logout </a> {%else%} <a href="/Login">Login</a> {%end%} </li> 
                </ul>
           </div>
         </div>
       </div>
     </div>

    <div class="container-fluid" style="padding-top:50px">
        <header class="jumbotron subhead" id="overview" style="margin-bottom:1em;">
            {% block header %}{% end %}{% block alerts %}{% end %}
        </header>
        <div id="main" role="main">{% block body %}{% end %}</div>
    </div>

    <footer style="position:fixed; bottom:0px;text-align:center; width:100%;" class="hidden-phone">
        <small> &copy; 2012 Ibercivis </small>
    </footer>

    <div id="about" class="modal hide fade in">
        <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Acerca de Furnivall</h3>
        </div>
        <div class="modal-body">
              <h4> Furnivall </h4>
              <p>
                  Open-source software framework for distributed thinking
              </p>
        </div>
        <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
</body>
</html>
