{%extends base.html%}
{% block title%} Collective family tree {%end%}
{%block head%} 
    <script src="/static/js/jquery.jsonrpc.js"></script>
    <link href="http://www.headjump.de/stylesheets/arrowsandboxes.css" rel="stylesheet" type="text/css" />
    <script src="http://www.headjump.de/javascripts/jquery_wz_jsgraphics.js" type="text/javascript"></script>
    <script src="http://www.headjump.de/javascripts/arrowsandboxes.js" type="text/javascript"></script>
    <script>
        function relationship_add(){
            $('add_relations').append("<div class=''>" + $('#hidden_base_relationship_add').html() + "</div>")
        }

        $.jsonRPC.setup({
              endPoint: '/RPC/',
              namespace: '' // TODO
        });

    </script>
{%end%}

{%block body %}

<header style="margin-left:auto; margin-right:auto; display:block;width:31%;">
    <hgroup>
       <h1 style="margin-bottom:0px; padding-bottom:0px"> Colective Family tree </h1>
       <h1 style="text-align:right;font-size:xx-small; width:100%"> Collaborate doing a global family tree </h1>
    </hgroup>
</header>
    
    <div id="hidden_base_relationship_add">
        FOO
    </div>

{% if user_id %}
    <small style="position:fixed; top:0px; left:0px"> Welcome {{ user_id }} </small>
    <small style="position:fixed; top:0px; right:10px"> <a href="#" onclick="relationship_add"> Add a relationship </a> </small>
    <div role="main" style="height:90%; display:block;"> <pre id="nodes" style="clear:both"> </pre> </div>
{%else%}
    <div class="warn"> Sorry, you must log-in to view the genealogy tree</div>
{% end %}

<footer style="width:100%; text-align:center">
    <small> &copy; Ibercivis 2011 </small>
</footer>

{%end%}
