{%extends base.html%}
{% block title%} Collective family tree {%end%}
{%block head%} 
    <script src="/static/js/jquery.jsonrpc.js"></script>
    <link href="http://www.headjump.de/stylesheets/arrowsandboxes.css" rel="stylesheet" type="text/css" />
    <script src="http://www.headjump.de/javascripts/jquery_wz_jsgraphics.js" type="text/javascript"></script>
    <script src="http://www.headjump.de/javascripts/arrowsandboxes.js" type="text/javascript"></script>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

    <script>
        function relationship_adder(){
            $('.add_relations').append("<div class='relationship_adder'>" + $('#hidden_base_relationship_add').html() + "</div>")
        }

        function add_relationship(){
            // AJAXize the form call
        }

        $.jsonRPC.setup({
              endPoint: '/RPC/',
              namespace: '' // TODO
        });

    </script>
{%end%}

{%block body %}

<header style="margin-left:auto; margin-right:auto; display:block;width:31%;">
    <hgroup>
       <h1 style="margin-bottom:0px; padding-bottom:0px"> Colective Family tree </h1>
       <h1 style="text-align:right;font-size:xx-small; width:100%"> Collaborate doing a global family tree </h1>
    </hgroup>
</header>

    <a href="#" onclick="relationship_adder(); "> Add a relationship </a>

    <div id="hidden_base_relationship_add" style="display:none">
        <form class="form-horizontal" action="#" method="POST" onsubmit="add_relationship()" >
            <fieldset>
                <legend> Add a node </legend>
                <div class="control-group">
                    <label for="name" class="control-label"> Name </label>
                    <div class="controls">
                        <input type="text" required name="name" placeholder="Sir ... " value="">
                        <p class="help-block"> Enter your familiar's name (it will autocomplete to known names) </p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="surname"> Surname </label>
                    <div class="controls">
                        <input required type="text" name="surname" placeholder="Hernandez" />
                    </div>
                </div>
            
                <div class="control-group">
                    <label class="control-label" for="radio"> Relationship </label>
                    <div class="controls">
                        <select name="radio">
                            <option selected value="mother">Mother</option>
                            <option value="daughter">Daughter</option>
                        </select>
                    </div>
                </div>
             
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>

            </fieldset>
        </form>
    </div>

{% if user_id %}
    <small style="position:fixed; top:0px; left:0px"> Welcome {{ user_id }} </small>
    <small style="position:fixed; top:0px; right:10px"> <a href="#" onclick="relationship_add"> Add a relationship </a> </small>
    <div role="main" style="height:90%; display:block;"> 
        <pre id="nodes" style="clear:both; background:none; border:none"> </pre> 
        <div class="add_relations"> </div>
    </div>
{%else%}
    <div class="warn"> Sorry, you must log-in to view the genealogy tree</div>
{% end %}

<footer style="width:100%; text-align:center">
    <small> &copy; Ibercivis 2011 </small>
</footer>

{%end%}
