<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Foo de emociones</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap-blue.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
    <style>
        @media (max-width: 480px){
            .hero-unit{  margin:4px; padding:4px;  }
            .container-fluid{ margin:4px!important; padding:0px!important; }
            footer{ display:none;}
        }
    </style>
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">


     <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
         <div class="container">
           <a class="brand" href="http://ibercivis.es/">Ibercivis</a>
           <div class="nav-collapse">
                <ul class="nav">
                  <li><a data-toggle="modal" href="#about">About</a></li>
                  <li><a href="mailto:ibercivis@ibercivis.es">Contact</a></li>
                </ul>
           </div>
         </div>
       </div>
     </div>

    <div class="container-fluid" style="padding-top:50px">

        <header class="jumbotron subhead" id="overview" style="margin-bottom:1em;">
            <h1> ¿Que emoción te produce esta frase? </h1>
        </header>
<div class="container-fluid">
  <div class="row-fluid">


    <div class="span10">
        <div class="hero-unit">
            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
    </div>

    <div class="span2">
        <p style="">
             <a style="width:33%; "  class="btn btn-primary btn-large btn"> Agresividad </a>
             <a style="width:33%; float:right "  class="btn btn-primary btn-large btn"> Alegria </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
        </p>
        </p>
        </p>
    </div>
  </div>

</div>
    <footer style="position:fixed; bottom:0px;text-align:center; width:100%;" class="hidden-phone">
        <small> &copy; 2012 Ibercivis </small>
    </footer>

        <div id="about" class="modal hide fade in">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Acerca de Foo de sentimientos</h3>
            </div>
            <div class="modal-body">
              <h4>Foo de sentimientos </h4>
              <p>Descripcion del proyecto. Stuff del proyecto. Objetivos del proyecto. Como usarlo correctamente. Enlaces a furnivall </p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
</body>

</html>
