{%extends 'base.html'%}
{% block title%} Sentiment analysis {%end%}
{% block head%}
    <script>
        function get_task(){
            
        }
    </script>
{%end%}
{% block body %}
    <div class="container-fluid" style="padding-top:50px">

        <header class="jumbotron subhead" id="overview" style="margin-bottom:1em;">
            <h1> ¿Que emoción te produce esta frase? </h1>
        </header>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
        <div class="hero-unit">
            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
    </div>

    <div class="span2">
        <p style="">
             <a style="width:33%; "  class="btn btn-primary btn-large btn"> Agresividad </a>
             <a style="width:33%; float:right "  class="btn btn-primary btn-large btn"> Alegria </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
             <br/>
             <a style="width:33%;margin-top:10px; "  class="btn btn-primary btn-large btn"> Tristeza </a>
             <a style="width:33%;margin-top:10px; float:right "  class="btn btn-primary btn-large btn"> Calma </a>
        </p>
        </p>
        </p>
    </div>
  </div>
{%end%}
